 /********************************************* GENERAL  *********************************************************************/ 
 body {
    font-size: 15px;
    line-height: 1.42857143;
    color: #323232;
    background-color: #F8F9FA;
    font-family: 'PT Sans', sans-serif;
}


 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


header{
  /*background-size: cover;*/
  /*background: url(img/Website-Pics/Banner-1.jpg) no-repeat fixed center;*/
 /* width: auto;
  height: 700px;*/
  /*overflow: hidden;*/
 /* position: relative;*/
}
/*header:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 96px solid #fff;
  border-left: 1929px solid transparent;
}
*/
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color:#282C34;
    color: #fff;
    padding:1% 0;
    font-size: 1.1em;
    border:0;
  }
.current:hover{
    background-color: #61DAFB;
  }

   /*.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 15px 15px;
  }
*/
  .navbar-inverse .navbar-nav .active a,
  .navbar-inverse .navbar-nav .active a:focus,
  .navbar-inverse .navbar-nav .active a :hover{
    color:#61DAFB;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .active a:hover{
    background:transparent;
  }

   .navbar-inverse .navbar-nav li a{
    color:#F8FFFF;
  }
   .navbar-inverse .navbar-nav li a:hover{
    color:#61DAFB;
  }

 .navbar-nav .dropdown-menu {
    background-color:#20232A;
  }
  .navbar-nav .dropdown-menu li a:hover{
    background-color:#20232A;
    font-weight: 500;
  }
  .section-one{
    background-color: #1C2C45;
    color:#fff;
    margin-bottom: 60px;
  }

  .dropdown-menu{
    padding: 10px;
  }
  .dropdown-menu li{
    font-size: 17px;
  }
  .card-body-text{
    padding:7px;
   /* color: #fff;*/
  }
 /* .card-body{
    background:#1C2C45;
  }
*/





  /********************************************************SECTION 1*********************************************************/
  
  .section-one-title{
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 160px;
    padding-top: 20px;
    color: #fff;
    text-shadow: 1px 2px 6px #1a237e;

  }
  /*included this styling*/
  .section-one-text-strong{
    font-weight: 700;
    font-size: 35px;
    color: #d50000;
    /*font-style: helvetica;*/
    /*color: #337ab7;*/
    /*#61DAFB*/
  }
  .section-one-text-link{
    color: #d50000;
  }
  .section-one-text-link:hover{
    text-decoration: none;
    color: grey;
  }
  .section-one-text-h3{
    font-family:helvetica, arial;
    font-size: 30px;
    font-weight: 700;
  }




  /**********************************************************SECTION 2 ************************************************************/
  .header-section-2{
    font-size: 27px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 65px;
  }

  .panel-title{
    font-size: 20px;
  }
 

  .panel-primary > .panel-heading {
  background:#1C2C45;
}
.panel-primary{
  border-color:#717183;
}
.panel-primary:hover{
  /*background:#717183;*/
  
}


.panel-body{
  /*font-size: 45px;*/
  padding: 0;
  border-width: 0;
}
.panel-body img:hover{
  opacity: 0.5;
} 
.panel-footer{
  color: grey;
}
.panel-footer p:hover{
  color: blue;
}

.card-body-text{
  color:grey;
  font-weight: 600;
  line-height: 1.9;
}



/********************************************* HEADER CONTENT *********************************************************************/



  @media (min-width:0 ){
    /***************** HEADER CONTENT ***********/
       .navbar-content{
          display: none;
          transition: all .3s ease-out;
        }
        .otherClass{
          display: block;
          /*position: absolute;*/
          top: 0;
          right: 0;
          left: 0;
          margin:0;
          background-color:transparent;
        }
        .nav>li{
          /*background-color: rgba(0,0,0,.5);*/
          padding: 3px;
          display: block;
          border-radius: 3px;
          /*float: left;*/
          /*padding: .5em;*/
        }
       
        .nav ul li:hover{
          color: #fff;
        }
        .burger{
          width: 25px;
          height: 25px;
          position: absolute;
          right: 25px;
          top: 20px;
          z-index: 10;
        }
        .burger::before{
        content: "";
        width: 25px;
        height: 4px; 
        top:0;
        position: absolute;
        background-color: #fff;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
      }

      .burger-middle{
        width: 25px;
        height: 4px; 
        top: 11px;
        position: absolute;
        background-color: #fff;
        transition: all .3s ease-out;
      }

        .burger::after{
        content: "";
        width: 25px;
        height: 4px; 
        bottom: 0;
        position: absolute;
        background-color: #fff;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
      }

      .icon-display::before{
        transform:rotate(45deg) scaleX(1.25);

      }

      .icon-display::after{
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }


      .icon-display div{
        opacity: 0;
      }



      /****************************************Section one *****************************/
     .header-text {
     	color:#85144B;
     }


     /********************************************footer***************************************/
     footer{
       background-color: #1C2C45;
       color:#fff; 

     }
     .footer-section{
      margin-top:50px;
      margin-bottom:20px;
     }
     footer h3{
      color: #d50000;
     }

     .Programme-sessions{
      list-style-type: upper-alpha;
     }
     .Programme-speakers{
      list-style-type: none;
     }
     footer ul li,.footer-section-3{
      padding: 3px;
      margin-bottom: 5px;
      font-size: 14px;
      color: #b0bec5;
     /* font-weight: 100;*/
     }
     .footer-section-3{
      margin-top: 50px;
     }

     .section-one{
    background-image: url("img/ObuduCattleRance101.jpg");
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;

     }
}



















@media(min-width: 800px){

  /********** HEADER ********************/
        .navbar-content{
          display: block;
        }

        .burger{
          display: none;
        }
        ul li{
          border-bottom: none;
          left: 0;
        }
        .nav>li{
          background-color:transparent;
          padding: 0;
          display: block;
          border-radius:0;
        }
    .navbar-brand{
      float:none;
      display: block;
      padding: 5px;
    }

}

  @media(min-width: 1010px){

}

